{{ define "default/index.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
    <!-- template nesting -->
    {{template "public/page_header" .}}


    <h2>index in default</h2>
    <!-- define variable -->
    {{$t := .title}}
    <!-- use variable -->
    <h4>{{$t}}</h4>

    <!-- if else usage-->
     {{ if gt .score 6 }}
     <h5>nice</h5>
     {{else if gt .score 4 }}
     <h5>good</h5>
     {{ else }}
     <h5>bad</h5>
     {{ end }}

     <!-- range -->
    {{ range $key,$value := .hobby}}
    <li>{{$key}}--{{$value}}</li>
    {{end}}

    {{ range $key, $value := .newsList }}
    <li>{{$key}}--{{$value.Title}}---{{$value.Content}}</li>
    {{end}}

    {{ range $key,$value := .testSlice}}
    <li>{{$value}}</li>
    {{else}}
    <h5>no contents in testSlice</h5>
    {{end}}


    <!-- with -->
     {{ .news.Title }}
     {{ .news.Content}}
     <br>
     {{with .news}}
        {{.Title}}
        {{.Content}}
    {{end}}

    <!-- Predefined functions -->
     <br>
     {{ len .title }}

    <!-- self definied functions -->
     {{.date}}<br>
     {{UnixToTime .date}}
     {{PrintlnFn .title .news.Content}}
</body>
</html>

{{ end }}